/* mainpage.component.css */
.login-container {
  background: url('../../../assets/img_1.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard {
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-title, .form-title {
  text-align: center;
  color: #333;
}

.info-list ul {
  list-style-type: none;
  padding: 0;
}

.info-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-date, .info-feedback, .info-hw, .info-questions {
  margin-right: 10px;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: darkred;
}

.info-form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  display: block;
  width: 100%;
}

.submit-btn:hover {
  background-color: #45a049;
}
